header {
    width          : 100%;
    height         : 60px;
    display        : flex;
    justify-content: center;
    background     : $secondaryColor;
    padding        : 10px;
    position       : relative;

    nav {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 90%;
        margin         : auto;

        .nav-links {
            width     : 100vw;
            padding   : 10px;
            top       : 0;
            right     : 0;
            position  : absolute;
            height    : 100vh;
            transition: 1s;
            translate : 150% 0;
            background: $primaryColor;

            #close {
                align-self: flex-end;
                cursor    : pointer;

                .fa-times {
                    color: $accent;
                }
            }

            ul {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                width          : 100%;
                padding-right  : 0;
                height         : 90vh;
                border         : 2px solid red;
                justify-content: center;

                li {
                    list-style: none;
                    text-align: center;

                    a {
                        text-decoration: none;
                        font-size      : 1.5rem;
                        color          : $secondaryColor;
                    }
                }
            }

            &.mobile-links {
                translate      : 0;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                width          : 100%;
                align-items    : center;

            }
        }

        .toggler {
            #bars {
                .fa-bars {
                    color : $accent;
                    cursor: pointer;
                }
            }
        }
    }
}