header {
    width          : 100%;
    height         : 60px;
    display        : flex;
    justify-content: center;
    background     : $secondaryColor;
    padding        : 0 10px;
    align-items    : center;
    position       : relative;

    nav {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 90%;
        height         : 100%;
        margin         : auto;

        @media screen and (min-width:$lgscreen) {
            align-items    : center;
            justify-content: space-between;
        }

        .nav-links {
            width          : 100%;
            padding        : 10px;
            top            : 0;
            right          : 0;
            position       : absolute;
            height         : 100%;
            translate      : 150% 0;
            background     : linear-gradient(to top, $primaryColor, $secondaryColor 50%, $primaryColor);
            display        : none;
            align-items    : center;
            justify-content: center;

            @media screen and (min-width:$lgscreen) {
                translate : 0 0;
                background: none;
                display   : flex;
                padding   : 0;
                height    : 100%;
                width     : fit-content;
                position  : static;
            }


            ul {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                width          : 100%;
                height         : 100%;
                justify-content: center;

                @media screen and (min-width:$lgscreen) {
                    flex-direction: row;
                    height        : 100%;

                    gap: 120px;
                }

                li {
                    list-style: none;
                    text-align: center;

                    a {
                        text-decoration: none;
                        font-size      : 1.5rem;
                        color          : $accent;
                        display        : block;

                        @media screen and (min-width:$lgscreen) {
                            color    : $accent;
                            font-size: 1rem;
                        }
                    }
                }
            }

        }

        .mobile-links {
            translate      : 150% 0;
            display        : none;
            background     : linear-gradient(to top, $primaryColor, $secondaryColor, $primaryColor);
            flex-direction : column;
            position       : absolute;
            left           : 0;
            top            : 0;
            justify-content: center;
            height         : 100vh;
            padding        : 10px !important;
            width          : 100vw;
            align-items    : center;
            transition     : 2s;

            @media screen and (min-width:$lgscreen) {
                display: none;
            }

            &.active {
                translate: 0 0;
                display  : flex;

                ul {
                    list-style: none;

                    li {

                        a {
                            color          : $accent !important;
                            text-decoration: none;
                        }
                    }
                }
            }


        }

        #close {
            align-self: flex-end;
            cursor    : pointer;

            @media screen and (min-width:$lgscreen) {
                display: none;

            }

            #times {
                font-size: 1.5rem;
                color    : $accent;
            }
        }

        .toggler {
            @media screen and (min-width:$lgscreen) {
                display: none;
            }

            #bars {
                .fa-bars {
                    color : $accent;
                    cursor: pointer;
                }
            }
        }
    }
}